.container{
    height: 100vh;
    margin: 0 auto;
    padding: 50px 0;
    box-sizing: border-box;
}

.loader {
    background-image: url("/src/assets/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 300px;
    background-size: contain;
}