.container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.imageContainer{
    position: relative;
    cursor: pointer;
    width: 300px;
}

.infoContainer{
    width: 45%;
    max-width: calc(100% - 330px);
}

.avb{
    position: absolute;
    top: -5px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}
.name{
    text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    height: 500px;
}

.tagline{
    font-style: italic;
    color: gray;
}

.description{
    background-color: #ffa5008f;
    padding: 30px 5px;
    border-radius: 5px;
    margin: 15px 0;
}

.subtitle{
    font-weight: 700;
}

.since{
    color: black;
    font-weight: 700;
    margin-top:  -15px;
    margin-bottom: 30px;
}

.list{
    text-align: start;
}

.listItem{
}